<!doctype html>
<html>
  <!-- M5 App Template
   This is a "stub" template. It contains a single page, and uses no external assets except core M5 javascript. 
   --> 
    <head>
        <meta charset="UTF-8" />
        <title>My App</title>
        
        <!--
            @require jquery
            @require m5.boot, m5.env, m5.support
            @require m5.remote_console
            @require m5.simulator
            
            @require jqtouch(theme:apple)
        -->

        <script type="text/javascript" charset="utf-8">
            var jQT = new $.jQTouch({ });
        </script>
    </head>
    <body>
        <div id="jqt">
            <!-- HOME PAGE -->
            <div id="home" class="current">
                <div class="toolbar">
                    <h1>List 1</h1>
                </div>
                <div>
                  <ul class="edgetoedge">
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>Five</li>
                    <li>Six</li>
                    <li>Seven</li>
                    <li>Eight</li>
                    <li>Nine</li>
                    <li>Eleven</li>
                    <li>Twelve</li>
                    <li>Thirteen</li>
                    <li>Fourteen</li>
                    <li>Fifteen</li>
                    <li>Sixteen</li>
                    <li>Seventeen</li>
                    <li>Eighteen</li>
                    <li>Nineteen</li>
                    <li>Twenty</li>
                  </ul>
                </div>
            </div>
        </div>
    </body>
</html>
